<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Docker container name. If "false", then do not start container -->
  <arg name="docker_name" default="marytts" />

  <!-- The name of the voice -->
  <arg name="voice" default="dfki-prudence-hsmm" />

  <!-- Launch the sound server -->
  <node name="rail_sound_server" pkg="rail_sound_interface" type="server_node.py" required="true">
    <param name="voice" value="$(arg voice)" />
  </node>

  <!-- Start the docker container -->
  <node name="docker_starter" pkg="rail_sound_interface" type="launch_docker.sh" args="$(arg voice) $(arg docker_name)" respawn="false" if="$(eval arg('docker_name') != false)" />
</launch>
